.row {
  display: flex;

  .players {
    width: 15rem;
    margin: 1rem;
    padding: 1rem;
    border: 0.1rem solid;
    border-radius: 0.5rem;

    img {
      width: 100%;
    }
  }
  .card-body {
    background-color: #dddce4;

    padding: 1rem;
    border-radius: 0.5rem;
  }
}
